<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.tac.TacSentenceMapper">
	<select id="findByEventname" parameterType="String" resultType="TacSentence">
		select * from tac_sentence where eventName = #{eventName}
	</select>

	<select id="findByDocName" parameterType="String" resultType="TacSentence">
		select * from tac_sentence where docName = #{docName}
	</select>

	<select id="findById" parameterType="int" resultType="TacSentence">
		select * from tac_sentence where id = #{id}
	</select>

	<select id="findByEventNameAndIsSummary" resultType="TacSentence">
		select * from tac_sentence where eventName = #{eventName} and isSummary = #{isSummary}
	</select>
	
	<select id="findEvents" resultType="String">
		select eventName from tac_sentence group by eventName
	</select>

	<select id="findDocumentsByEventname" resultType="String" parameterType="String">
		select distinct docName from tac_sentence where eventName = #{eventName}
	</select>
	<select id="findAllSentences" resultType="TacSentence">
		select * from tac_sentence
	</select>
	<update id="update" parameterType="TacSentence">
		update tac_sentence set publishDate = #{publishDate} where id = #{id}
	</update>
</mapper>